<section class="view intro-2 hm-gradient">
  <div class="full-bg-img mask pattern-2">
	<div class="container flex-center d-flex align-items-center">
	<div class="row flex-center w-100 pt-5 mt-5">
		<div class="col-sm-5  d-flex justify-content-center animated fadeInLeft">
		  <div class="row white-text d-flex justify-content-center">
		    <div class="col-12">
				<h3 class="h3-responsive h3-light">Welcome {{this.usuario.username}}</h3>
			</div>
			<div class="col-12">
				<h6 class="h6-responsive h6-light">your email is: <a>{{this.usuario.email}}</a></h6>
			</div>
			<div class="col-12">
				<button class="btn btn-outline-white waves-light" (click)="logout()">SIGNOUT</button>
			</div>
		  </div>
		</div>
		
		<div class="col-sm-5 card h-75 white-text animated fadeInRight pb-4 mb-5" >
			<div *ngIf="this.sesiones && (this.sesiones.length>0)" class="card-body h-100 w-100">
				<div class="row w-100">
			        Sessions:
			    </div>
			    <hr class="hr-light mb-1 mt-1">
			    <table class="row h-100 mb-1" style="overflow: auto;">
			  		<tr *ngFor="let sesion of this.sesiones">
			  			{{ sesion.acceso | date:'yyyy-MM-dd HH:mm' }}
					</tr>
				 </table>
		  	</div>
	  
		</div>
  	</div>
</div>
</div>
</section>