<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" 
		[hidden]="!this.show">
   <logo>
       <a class="logo navbar-brand waves-light" mdbRippleRadius href="#"><strong>JJ</strong></a>
   </logo>
   <links>
       <ul class="navbar-nav mr-auto">
           <li class="nav-item active waves-light" mdbRippleRadius>
               <a class="nav-link" [routerLink]="['/login']">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item waves-light" mdbRippleRadius>
               <a class="nav-link" [ngx-scroll-to]="'#carrusel'">Link</a>
           </li>
       </ul>
       <ul  *ngIf="this.usuario" class="navbar-nav ml-auto">
          <li *ngIf="this.usuario.username" class="nav-item dropdown btn-group" dropdown #userDropDown="bs-dropdown">
               <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
               <i class="fa fa-user"></i>{{this.usuario.username}}</a>
               <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                   <a class="dropdown-item waves-light" (click)="this.logout();" mdbRippleRadius>Logout</a>
               </div>
           </li>
       </ul>
   </links>
</mdb-navbar>
