<header>
 <app-navbar></app-navbar>
 <section class="view intro-2 hm-gradient">
 <div class="full-bg-img">
   <router-outlet></router-outlet>
 </div>
 </section>
</header>

<div class="container-fluid w-100 p-0">
  <mdb-carousel [isControls]="true" [animation]="'slide'">
    <mdb-slide>
    	<div class="view hm-black-slight">
            <img class="d-block w-100" src="../assets/pexels-photo-443430.jpg" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>First text</p>
        </div>
    </mdb-slide>
    <mdb-slide>
    	<div class="view hm-black-slight">
           <img class="d-block w-100" src="../assets/pexels-photo-450597.jpg" alt="Second slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Second text</p>
        </div>
    </mdb-slide>
    <mdb-slide>
        <div class="view hm-black-slight">
           <img class="d-block w-100" src="../assets/road-111709_1920.jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-slide>
  </mdb-carousel>
 </div>


<div *ngIf="this.pageIsLoading" class="loading h1-responsive">
	Loading<span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span>
</div>


<footer class="page-footer blue">
  <div class="container">
      <div class="row justify-content-center">
         <p>Support:
         <a href="#"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
         </p>
      </div>
      <div class="row justify-content-center">
          <p>Follow us: 
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </p>
      </div>
  </div>
  <div class="footer-copyright">
      <div class="container-fluid">
          2018 <a href="https://github.com/jjtorrijosc"> Created By: jjtorri </a>
      </div>
 </div>
</footer>
