<div class="container flex-center">
    <div class="d-flex align-items-center content-height">
      <div class="row flex-center pt-5 mt-3">
	<div class="col-md-6 text-center text-md-left mb-5">
	  <div class="white-text">
	      <h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
	      <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
	      <h6 class="wow fadeInLeft" data-wow-delay="0.3s">You can sign up or sign in with your google or facebook account.</h6>
	      <br>
	      <button class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" (click)="basicModal.show()" mdbRippleRadius>READ MORE</button>
	  </div>
	</div>
	  
	<div class="col-md-6 col-xl-5 offset-xl-1">
	  <div class="card wow fadeInRight" data-wow-delay="0.3s">
	   <div class="card-body">
	     <div class="text-center">
	         <h3 class="white-text"><i class="fa fa-user white-text"></i> Register:</h3>
	         <hr class="hr-light">
	     </div>
	
	     <div class="md-form">
	         <i class="fa fa-user prefix white-text"></i>
	         <input type="text" id="form3" class="form-control" mdbActive [(ngModel)]="usuario.username">
	         <label for="form3">Your name</label>
	     </div>
	     <div class="md-form">
	         <i class="fa fa-envelope prefix white-text"></i>
	         <input type="text" id="form2" class="form-control" mdbActive [(ngModel)]="usuario.email">
	         <label for="form2">Your email</label>
	     </div>
	
	     <div class="md-form">
	         <i class="fa fa-lock prefix white-text"></i>
	         <input type="password" id="form4" class="form-control" mdbActive [(ngModel)]="usuario.password">
	         <label for="form4">Your password</label>
	     </div>
	
	     <div class="text-center">
	       <button class="btn btn-block btn-default waves-light" (click)="signup()">Sign up</button>
	       <button class="btn btn-block btn-danger waves-light" (click)="socialSignIn('google')"><i class="fa fa-google"></i>Sign in with Google</button>
	       <button class="btn btn-block btn-indigo waves-light" (click)="socialSignIn('facebook')"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
	       <hr class="hr-light mb-3 mt-4">
	     </div>
	     
	   </div>
	  </div>
	</div>
  </div>
  </div>
</div>
