.loading {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
	
	background: black;
	opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
     text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  }

  @keyframes dots {
    50% {
      transform: translateY(-.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .d {
    animation: dots 1.5s ease-out infinite;
  }
  .d-2 {
    animation-delay: .5s;
  }
  .d-3 {
    animation-delay: 1s;
  }

.intro-2 {
    background: url("./assets/pexels-photo-577585.jpg")no-repeat center center;
    background-size: cover;
}

.card {
    background-color: rgba(229, 228, 255, 0.2);
}

@mixin claseToolTip ($tip-background-color, $tip-text-color) {

	.popover {
		background-color: $tip-background-color;
		opacity: 0.9;
	}
	
	.popover .popover-body{
		color: $tip-text-color;
	}
	.popover.popover-bottom::after, .popover.bs-tether-element-attached-top::after {
		border-bottom-color: $tip-background-color;
	}
	
	.popover.popover-top::after, .popover.bs-tether-element-attached-bottom::after {
		border-top-color: $tip-background-color;
	}
	
	.popover.popover-right::after, .popover.bs-tether-element-attached-left::after {
		border-right-color: $tip-background-color;
	}
	
	.popover.popover-left::after, .popover.bs-tether-element-attached-right::after {
		border-left-color: $tip-background-color;
	}

}

.error-tip {
	@include claseToolTip($tip-background-color: rgba(204, 0, 0, 0.7), $tip-text-color: white);
}

.warning-tip {
	@include claseToolTip($tip-background-color: rgba(255, 136, 0, 0.7), $tip-text-color: white);
}


